// advantage
/* advantage */

@import "../variable";
@import "../mixin";

#advantageBox {
  @include sectionBasic;
  
  & .advantage_inner {
    display: flex;

    @include mobile {
      flex-wrap: wrap;
    }
    
    & .advantage_left {
      width: 40%;
      height: auto;
      margin-right: 4%;

      @include mobile {
        width: 100%;
        margin: auto;
      }

      /* 소제목 */
      & h3 {
        margin-top: 20px;
        margin-right: 60px;
        font-size: map-get($map: $font_size, $key: title);
        font-weight: $font_weight_bold;
        text-align: right;
        letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
        color: $color_point_blue;

        @include mobile {
          @include h3_m;
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: title);
        }
        @include pcfull {
          margin: auto 0;
          text-align: center;
          font-size: map-get($map: $font_size_pcFull, $key: title);
        }
      }
        
      /* 왼쪽 하단 이미지 */
      & .advantage_3d {
        width: 44.804%;
        height: 47.15%;
        margin: 150px;

        @include mobile {
          display: none; /* 모바일 화면에서는 안보임 */
        }
        @include tablet {
          margin: 190px 90px;
        }
        @include pcfull {
          margin: 150px auto 0 auto;
        }
        @include img ($advantageImg)
      }
    }
    & .advantage_right {
      width: 56%;
      height: auto;
      display: flex;
      flex-wrap: wrap;

      @include mobile {
        width: 100%;
      }
        
      /* 내용 */
      & .Aright_inner {
        margin-top: 20px;
        text-align: left;

        /* 제목 */
        & p {
          font-size: map-get($map: $font_size, $key: pointtitle);
          font-weight: $font_weight_bold;
          text-transform: capitalize;

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
          }
        }

        /* 내용 */
        & span {
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_thin;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }
      }
    }

    /* 중간 경계선 */
    &::before {
      content: '';
      border: $line1;
      position: relative;
      left: 39%;

      @include mobile {
        display: none;
      }
    }
  }
}
