@import "../variable";
@import "../mixin";

#homeBox{
  width: 100%;
  height: 95vh;
  margin: auto;
  padding: 83px 0 145px 0;
  position: relative;
  display:  flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    gap: 10px;
    flex-wrap: wrap;
    padding: 83px 0 100px 0;
  }
  
  & h2 {
    font-size: map-get($map: $font_size, $key: pointtitle);
    font-weight: $font_weight_normal;
    letter-spacing: map-get($map: $letter-spacing, $key: title);
    text-transform: uppercase;
    text-align: center;
    @include mobile {
      width: 100%;
      font-size: map-get($map: $font_size_m, $key: pointtitle);
    }
    @include tablet {
      font-size: map-get($map: $font_size_m, $key: pointtitle);
    }
    @include pcfull {
      font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
    }
  }
  & img {
    display: block;
    margin: auto;
    width: 21.8056%;

    @include mobile {
      width: 49%;
    }
  }
  & p {
    font-size: map-get($map: $font_size, $key: pointtitle);
    font-weight: $font_weight_normal;
    letter-spacing: map-get($map: $letter-spacing, $key: content);
    text-align: center;
    @include mobile {
      width: 100%;
      font-size: map-get($map: $font_size_m, $key: pointtitle);
    }
    @include tablet {
      font-size: map-get($map: $font_size_m, $key: pointtitle);
    }
    @include pcfull {
      font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
    }
    
    span {
      color: $color_point_blue;
    }
  }
}
