// skill
/* skill */

@import "../variable";
@import "../mixin";

#skillBox {
  @include sectionBasic;
  
  & h3 {
    @include h3;

    @include mobile {
      @include h3_m;
    }
    @include tablet {
      font-size: map-get($map: $font_size_m, $key: title);
    }
    @include pcfull {
      font-size: map-get($map: $font_size_pcFull, $key: title);
    }
  }
  
  & .charts {
    width: 100%;
    display: flex;
    justify-content: center;

    @include mobile {
      flex-wrap: wrap;
    }
    
    /* 그래프 */
    & .chart {
      width: 100%;
      position: relative;

      @include mobile {
        width: 100%;
      }
      
      /* 능력치 */
      & h4 {
        font-size: map-get($map: $font_size, $key: content1);
        position: absolute;
        top: 113px;
        left: 75px;
        transform: translate(-50%, -50%);

        @include mobile {
          font-size: map-get($map: $font_size_m, $key: content1);
          top: 81px;
          left: 55px;
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: content1);
          top: 91px;
          left: 60px;
        }
      }
      
      /* skill 이미지 */
      & .svg_img {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 31px;
        left: 42px;
        
        @include mobile {
          width: 50px;
          height: 50px;
          top: 21px;
          left: 30px;
        }
        @include tablet {
          width: 50px;
          height: 50px;
          top: 26px;
          left: 35px;
        }
      }

      /* skill 이미지 크기 설정 */
      & svg {
        width: 150px;
        height: 150px;

        @include mobile {
          width: 110px;
          height: 110px;
        }
        @include tablet {
          width: 120px;
          height: 120px;
        }
        
        /* 원형 차트 설정 */
        & circle {
          fill: #dedede;
          stroke-width: 15;
          stroke-dasharray: 409;
          stroke-dashoffset: 409;
          animation: line 2s forwards;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
          stroke-linecap: round;
          cx: 75;
          cy: 75;
          r: 65;
          
          @include mobile {
            stroke-width: 10;
            stroke-dasharray: 315;
            stroke-dashoffset: 315;
            cx: 54;
            cy: 55;      
            r: 49;
          }
          @include tablet {
            stroke-width: 10;
            stroke-dasharray: 325;
            stroke-dashoffset: 325;
            cx: 60;
            cy: 61;        
            r: 50;
          }
        }
      }
    }

    .chart_inner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      @include mobile {
        gap: 0;
      }
      
      @include tablet {
        gap: 0;
      }
    }
    
    .chart {
      width: 26.8%;
      display: flex;
      flex-wrap: wrap;

      @include mobile {
        width: 36%;
      }

      @include tablet {
        width: 34.8%;
        display: flex;
        flex-wrap: wrap;
      }
    }
    
    & .charts_inner1 {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @include mobile {
        width: 100%;
        // padding: 0 5px;
      }
      
      /* html */
      & .chart_html {
        stroke: $color_html;
        stroke-dashoffset: 40;
      }
      /* css */
      & .chart_css {
        stroke: $color_css;
        stroke-dashoffset: 40;
      }
      /* sass */
      & .chart_sass {
        stroke: $color_sass;
        stroke-dashoffset: 120;
      }
      /* javascript */
      & .chart_javascript {
        stroke: $color_javascript;
        stroke-dashoffset: 160;
      }
    }
    
    /* 능력치 설명 */
    & .chart_text {
      width: 70.5%;
      text-align-last: left;
      padding: 20px;
      line-height: 30px;

      @include mobile {
        width: 64%;
        padding: 0;
        padding-left: 5px;
        line-height: 20px;
      }

      @include tablet {
        width: 65.2%;
        text-align-last: left;
        padding: 10px 0 10px 5px;
      }
      
      & p {
        font-size: map-get($map: $font_size, $key: content1);
        font-weight: $font_weight_thin;
        letter-spacing: map-get($map: $letter-spacing, $key: content_kr);

        @include mobile {
          font-size: map-get($map: $font_size_m, $key: content1);
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: content1);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: content1);
        }
      }

      /* 각 skill 제목 */
      & p:nth-child(1) {
        font-size: map-get($map: $font_size, $key: pointtitle);
        font-weight: $font_weight_normal;
        letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
        color: $color_point_blue;

        @include mobile {
          font-size: map-get($map: $font_size_m, $key: pointtitle);
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: pointtitle);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
        }
      }
    }

    & .charts_inner2 {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @include mobile {
        width: 100%;
        margin-top: 30px;
        // padding: 0 5px;
      }

      /* figma */
      & .chart_figma {
        stroke: $color_figma;
        stroke-dashoffset: 80;
      }
      /* react */
      & .chart_react {
        stroke: $color_react;
        stroke-dashoffset: 280;
      }
      /* git */
      & .chart_git {
        stroke: $color_github;
        stroke-dashoffset: 120;
      }
    }

    /* 빈박스 */
    .chart_bin {
      width: 78.95%;
      height: 150px;

      @include mobile {
        height: 0;
      }
    }
    .chart_text_bin {
      height: 150px;
      border: $line2;

      @include mobile {
        display: none;
        // height: 0;
      }
    }
  }
}
