#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: $color_white;
  padding: 10px 162px;
  @include mobile {
    padding: 10px;
  }
  @include tablet {
    padding: 10px 34px;
  }
  @include laptop {
    padding: 10px 100px;
  }
}
